
:root{
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(165, 165, 165, 1);
    --blue: rgba(8, 166, 228, 1);
    --blue-shadow: rgba(7, 172, 230, 0.16);
    --gray-light: rgba(165, 165, 165, 1);
    --black: rgba(0, 0, 0, 1);
    --green-btn: rgba(85, 223, 180, 1);
    --red-btn: rgba(235, 71, 110, 1);
    --blue-btn: rgba(7, 172, 230, 1);
    --gray-background: rgba(247, 247, 247, 1);
    --gray-shadow: rgba(0, 0, 0, 0.16);
    --red-cicule: rgba(251, 59, 100, 1);

}

.container {
    width: 1352px;
    display: flex;
    align-items: center;

}


/*HEADER*/
.header{
    background-color: var(--white);
    box-shadow: 0 3px 6px var(--gray);
}

.container--header{
    justify-content: space-between;
    height: 70px;
    padding: 0 136px;
}
.header__logo{
    font-family: var(--raleway);
    color: var(--blue);
    font-size: 32px;
}

.menu__link{
    text-decoration: none;
    color: var(--gray-light);
    font-size: 11px;
    font-family: var(--open-sans);
    font-weight: bold;
    padding-bottom: 27px;
    margin-left: 95px;

}

.menu__link:hover{
    color: var(--black);
    border-bottom: 4px solid var(--blue);
    cursor: pointer;
}

/*Section open*/
.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.open__sell{
    font-family: var(--raleway);
    font-size: 49px;
    color: var(--black);
    margin-bottom: 20px;
    margin-top: 130px;
}

.open__text{
    font-family: var(--open-sans);
    color: var(--black);
    margin-bottom: 38px;
}

.open__cta{
    text-decoration: none;
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 16px;
    background-color: var(--blue);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--blue-shadow);
    padding-top: 22px;
    padding-bottom: 23px;
    padding-right: 157px;
    padding-left: 157px;
    cursor: pointer;
}

.open__background{
    width: 100%;
    height: auto;
}

/*Stats*/
.stat{
   padding: 100px;
}
.stat__title{
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
    text-align: center;
    margin-top: 100px;
}

.stat__main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 180px;
}

.stat__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px ;
    max-height: 168px;
    position: relative;
}

.stat--circule{
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

.circule--red{
    background-color: var(--red-cicule);
    top: 97px;
    right: 35px;
}
.circule--blue{
    background-color: var(--blue-btn);
    top: 85px;
    right: 80px;
}

.circule--green{
    background-color: var(--green-btn);
    top: 95px;
    right: 60px;
}

.stat__numbers{
    color: var(--black);
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: 900;
    padding-top: 23px;
}

.stat__description{
    color: var(--gray);
    font-family: var(--raleway);
    font-size: 17px;
    text-align: center;
    margin-top: 19px;
}

/*BENEFITS*/
.benefits{
    background-color: var(--gray-background);
    padding: 105px 251px;
}

.benefits__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--first--row,
.container--second--row{
    background-color: var(--white);
    border: 1px solid rgba(232, 233, 237, 1);
    border-radius: 5px;
    margin-bottom: 37px;
    padding-left: 35px;
}

.benefits__description{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description--first--row,
.description--second--row{
    width: 416px;
}

.description--first--row{
    padding: 91px 0;
}

.description--second--row{
    padding: 69px 20px 71px 0;
}

.description--third--row{
    width: 554px;
    padding: 50px 20px;

}

.benefits_title{
    font-family: var(--raleway);
    color: var(--black);
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 30px;
}

.benefits__text{
    font-family: var(--open-sans);
    color: var(--black);
    font-size:16px;
    line-height: 22px;
    padding-bottom: 50px;
}

.benefits__line{
    width: 328px;
    border-bottom: 4px solid var(--red-cicule);
    padding-top: 50px;
}

.line--blue{
    border-bottom: 4px solid var(--blue);

}

.line--green{
    border-bottom: 4px solid var(--green-btn);
    padding-top: 44px;
}

.benefits__imgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.imgs--first--row{
    padding-top: 75px;
    padding-right: 46px;
}

.benefits__img__macbook {
    width: 386px;
    height: 219px;
    z-index: 1;
}

.background--macbook{
    background-color: var(--red-cicule);
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 21px;
    right: 45px;
}

.benefits__img__iphone {
    width: 426px;
    height: 328px;
    z-index: 1;
}

.background--iphone{
    background-color: var(--blue-btn);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    top: -27px;
    left: 8px;
}

.benefits__img__trumpet{
    width: 296px;
    height: 208px;
    position: absolute;
    top: 110px;
    right: 90px;
}

.background--trumpet{
    width: 440px;
    height: 370px;
    background-color: var(--green-btn);
    border: 1px solid var(--gray-shadow);
    border-radius: 5px;
    margin-left: 61px;
    position: relative;
}


/*Pricing*/
.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 180px;
}

.pricing__title{
    font-family: var(--raleway);
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    padding-bottom: 50px;
}

.pricing__boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__box{
    border-radius: 18px;
    background-color: var(--white);
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.pricing__box--basic{
    border: 1px solid var(--red-btn);
}

.pricing__box--professional{
    border: 1px solid var(--blue-btn);
    box-shadow: 5px 10px 27px var(--blue-shadow);
    margin: 0 58px;
}

.pricing__box--premium{
    border: 1px solid var(--green-btn);
}

.box__title{
    font-size: 20px;
    font-family: var(--raleway);
    font-weight: 700;
    color: rgba(19, 37, 59, 1);
    padding-bottom: 14px;
    padding-top: 34px;
}

.title--professional{
    font-size: 21px;
}

.price{
    font-family: var(--open-sans);
    font-size: 46px;
    font-weight: 300;
    padding-bottom: 5px;
}

.price--basic{
    color: var(--red-btn);
}

.price--professional{
    color: var(--blue-btn);
}

.price--premium{
    color: var(--green-btn);
}

.text--litlle{
    color: rgba(19, 37, 59, 1);
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 50px;
}

.text--litlle--professional{
    margin-bottom: 61px;
}

.pricing__boxes span{
    margin-bottom: 50px;
}

.items--basic,
.items--premium{
    padding-bottom: 20px;
}

.items--professional{
    padding-bottom: 26px;
}

.pricing__text{
    font-family: var(--open-sans);
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    align-items: center;
    padding-bottom: 25px;
}

.pricing--checked::before{
    content: url("../assets/checkmark-1.svg");
    margin-right: 10px;
    display: inline-block;
}
.pricing--close::before{
    content: url("../assets/close.svg");
    margin-right: 10px;
    display: inline-block;
}

.begin{
    text-decoration: none;
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 700;
    line-height: 41px;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
}

.begin--basic{
    background-color: var(--red-btn);
    bottom: -26px;
    left: 110px;
}

.begin--professional{
    background-color: var(--blue-btn);
    bottom: -26px;
    left: 110px;
}

.begin--premium{
    background-color: var(--green-btn);
    bottom: -26px;
    left: 110px;
}

/*FORM*/


/*FOOTER*/

