.benefits{
  background-color: $gray-background;
  padding: 105px 251px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container{

    &--first--row{
      background-color: $white;
      border: 1px solid rgba(232, 233, 237, 1);
      border-radius: 5px;
      margin-bottom: 37px;
      padding-left: 35px;
    }

    &--second--row{
      background-color: $white;
      border: 1px solid rgba(232, 233, 237, 1);
      border-radius: 5px;
      margin-bottom: 37px;
      padding-left: 35px;
    }
  }

  &__description {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .description {

    &--first--row{
      width: 41.6rem;
      padding: 91px 0;
    }

    &--second--row{
      width: 41.6rem;
      padding: 69px 20px 71px 0;
    }

    &--third--row{
      width: 55.4rem;
      padding: 50px 20px;
    }
  }

  &__title{
    font-family: $raleway;
    color: $black;
    font-size: 3.6rem;
    line-height: 4.2rem;
    padding-bottom: 30px;
  }

  &__text{
    color: $black;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 50px;
  }

  &__line{
    width: 32.8rem;
    border-bottom: 4px solid $red-cicle;
    padding-top: 50px;
  }

  .line{

    &--blue{
      border-bottom: 4px solid $blue;
    }

    &--green{
      border-bottom: 4px solid $green-btn;
      padding-top: 44px;
    }
  }

  &__images{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    }

  .images{
    &--first--row{
      padding-top: 75px;
      padding-right: 46px;
  }
  }

  &__img{

    &__macbook{
      width: 386px;
      height: 219px;
      z-index: 1;
    }

    &__iphone{
      width: 426px;
      height: 328px;
      z-index: 1;
    }

    &__trumpet{
      width: 296px;
      height: 208px;
      position: absolute;
      top: 110px;
      right: 90px;
    }
  }

  .background{

    &--mackbook{
      background-color: $red-cicle;
      width: 180px;
      height: 180px;
      border-radius: 41px;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 21px;
      right: 45px;
    }

    &--iphone{
      background-color: $blue-btn;
      width: 320px;
      height: 320px;
      border-radius: 50%;
      position: absolute;
      top: -27px;
      left: 8px;
    }

    &__trumpet{
      width: 440px;
      height: 370px;
      background-color: $green-btn;
      border: 1px solid $gray-shadow;
      border-radius: 5px;
      margin-left: 61px;
      position: relative;
    }
  }
}

