.benefits {
  background-color: $gray-background;
  padding: 105px 0;

  @include tablet {
    padding: 50px 0;
  }

  &__container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 0 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column-reverse !important;
      align-items: center;
      padding: 0 20px !important;
    }
  }

  .box {
    border: 1px solid rgba(232, 233, 237, 1);
    border-radius: 5px;
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--first--row {
      background-color: $color-white;
      margin-bottom: 37px;
    }

    &--second--row {
      flex-direction: row-reverse;
      background-color: $color-white;
      margin-bottom: 37px;
    }

    &--third--row {
      @include tablet {
        flex-direction: column;
      }
    }
  }

  &__description {
    max-width: 415px;
    margin: 90px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet {
      margin:0;
    }
  }

  .description {
    &--first--row {
      max-width: 41.6rem;
      padding: 91px 0;

      @include tablet {
        margin: 30px 0;
        padding: 0;
      }
    }

    &--second--row {
      max-width: 41.6rem;
      padding: 69px 20px 71px 0;

      @include tablet {
        margin: 30px 0;
        padding: 0;
      }
    }

    &--third--row {
      background-color: $color-white;
      max-width: 55.4rem;
      margin: 0;
      padding: 50px 35px;

      @include tablet {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    font-family: $font-raleway;
    color: $color-black;
    font-size: 3.6rem;
    line-height: 4.2rem;
    padding-bottom: 30px;
  }

  &__text {
    color: $color-black;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 50px;
  }

  &__line {
    width: 32.8rem;
    border-bottom: 4px solid $red-circle;
    padding-top: 50px;

    @include tablet {
      display: none;
      padding: 0;
    }
  }

  .line {
    &--blue {
      border-bottom: 4px solid $color-blue;
    }

    &--green {
      border-bottom: 4px solid $green-btn;
      padding-top: 44px;
    }
  }

  &__images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    }

  .images {
    &--first--row {
      padding-top: 75px;
      padding-right: 46px;
    }
  }

  &__img {
    @include tablet {
      width: 192px;
    }

    &__macbook {
      width: 386px;
      height: 219px;
      z-index: 2;

      @include tablet {
        width: 193px;
        height: 110px;
      }
    }

    &__iphone {
      width: 426px;
      height: 328px;
      z-index: 2;

      @include tablet {
        width: 175px;
        height: 135px;
      }
    }

    &__trumpet {
      position: absolute;
      width: 296px;
      height: 208px;
      top: 110px;
      right: 60px;

      @include tablet {
        top: 35px;
        right: 250px;
      }

      @include mobile {
        top: 40px;
        right: 26px;
      }
    }
  }

  .background {
    position: absolute;

    &--macbook {
      background-color: $red-circle;
      width: 180px;
      height: 180px;
      border-radius: 41px;
      display: block;
      transform: rotate(45deg);
      position: absolute;
      top: 166px;
      right: 20px;

      @include tablet {
        width: 90px;
        height: 90px;
        right: 23px;
        top: 47px;
      }
    }

    &--iphone {
      background-color: $blue-btn;
      width: 320px;
      height: 320px;
      border-radius: 50%;
      position: absolute;
      top: 108px;
      left: 8px;

      @include tablet {
        width: 131px;
        height: 131px;
        top: -15px;
      }
    }

    &--trumpet {
      width: 440px;
      height: 370px;
      background-color: $green-btn;
      border: 1px solid $gray-shadow;
      border-radius: 5px;
      margin-left: 61px;
      position: relative;

      @include tablet {
        width: calc(100vw - 332px);
        height: 195px;
        margin-left: 0;
      }
      @include mobile {
        width: calc(100vw - 30px);
      }
    }
  }
}
