.footer {
  margin-top: 59px;
  box-shadow: 0 -5px 40px $gray-shadow;

  @include mobile {
    margin-top: 44px;
  }

  &__container {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;

    @include mobile {
      justify-content: flex-start;
      padding: 0 10px;
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__logo {
    font-family: $font-raleway;
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 3rem;
    color: $color-blue;
  }

  &__icons {
    img:first-of-type {
      margin-right: 20px;
    }
  }

  .copyright {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: $color-gray;
  }
}