.contact{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 80px 300px 100px;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 15px;
  }

  &__container{
    width: 50%;

    @include tablet{
      width: 100%;
    }
  }

  &__icons{
    display: flex;
    justify-content: space-between;

    @include tablet{
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title{
    font-family: $font-raleway;
    font-size: 4.9rem;
    line-height: 5.7rem;
    margin-bottom: 22px;

    @include tablet{
      font-size: 4rem;
      line-height: 4.7rem;
      margin-bottom: 5px;
    }
  }

  &__instruction{
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 42px;

    @include tablet{
      margin-bottom: 35px;
    }
  }

  &__details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(165, 165, 165, 1);
    gap: 20px;

    @include tablet{
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__data{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: rgba(165, 165, 165, 1);

    &--mail{
      padding-right: 5px;
    }
  }

  &__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
      margin-top: 50px;
    }
  }

  .checkbox{
    width: 44rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    p{
      color: $color-gray;
      font-size: 1.2rem;
      line-height: 1.7rem;
      margin-left: 10px;

      @include tablet{
        margin: 0 0 21px 10px;
      }
    }

    input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked + span{
        background-image: url("../assets/checkmark.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    span{
      height: 2.4rem;
      width: 2.4rem;
      background-color: $color-white;
      border: 1px solid rgba(149, 152, 154, 1);
      border-radius: 4px;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
  #name, #email{
    border: none;
    border-bottom: 1px solid rgba(149, 152, 154, 1);
    opacity: 1;
    margin-bottom: 30px;
  }

  .label{

    &__name, &__email{
      font-size: 1.1rem;
      font-weight: 700;
      color: $color-blue;
      line-height: 1.5rem;
      letter-spacing: 0.328rem;
      margin-bottom: 42px;
    }
  }
}


