.header{
  box-shadow: 0 3px 6px $color-gray;
  height: 70px;


  @include mobile{
    padding: 16px 25px;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 0 20px;

    @include tablet {
      justify-content: center;
    }
    @include mobile {
      justify-content: flex-start;
    }
  }

  &__logo{
    font-family: $font-raleway;
    color: $color-blue;
    font-size: 3.2rem;
  }
}

.menu{

  &__elements{
    padding: 0 26px;

    &:last-child{
      padding-right: 0;
    }
  }

  &__checkbox{
    display: none;
    position: absolute;
    opacity: 0;

    &:checked ~ .menu__list{
      max-height: 200px;
    }
  }

  &__button{
    display: none;

    @include mobile{
      color: $blue-btn;
      font-size: 1.5rem;
      padding: 4px 10px;
      background-color: #c0c0c0;
      position: absolute;
      top: 50px;
      left: 50px;
      border-radius: 4px;
    }
  }

  &__list{
    max-height: unset;
    display: flex;

    @include mobile{
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
    }
  }


  &__link{
    text-transform: uppercase;
    color: $gray-light;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 27px;
    margin-left: 95px;


    &:hover{
      color: $color-black;
      border-bottom: 4px solid $color-blue;
      cursor: pointer;
    }
  }
}

