.pricing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 180px;

  @include firstBreakpoint{
    padding: 53px 18px 0 18px;
  }

  &__title{
    font-family: $raleway;
    color: rgba(0, 0, 0, 1);
    font-size: 3.6rem;
    text-align: center;
    line-height: 4.2rem;
    padding-bottom: 50px;
  }

  &__boxes{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile{
      display: block;
    }

    span{
      margin-bottom: 50px;
    }
  }

  &__box{
    border-radius: 18px;
    background-color: $white;
    width: 37.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    @include mobile{
      flex-direction: unset;
      margin: 0 auto;
    }

    &--basic{
      border: 1px solid $red-btn;
    }

    &--professional{
      border: 1px solid $blue-btn;
      box-shadow: 5px 10px 27px $blue-shadow;
      margin: 0 58px;
    }

    &--premium{
      border: 1px solid $green-btn;
    }
  }

  .price{
    font-size: 4.6rem;
    font-weight: 300;
    padding-bottom: 5px;

    &--basic{
      color: $red-btn;
    }

    &--professional{
      color: $blue-btn;
    }

    &--premium{
      color: $green-btn;
    }
  }

  .box{
    &__title{
      font-size: 2rem;
      font-family: $raleway;
      font-weight: bold;
      color: rgba(19, 37, 59, 1);
      padding-bottom: 14px;
      padding-top: 34px;

      @include mobile{
        padding: 70px 50px 1px 50px;
      }
    }

    &__price{

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .title{
    &--professional{
      font-size: 2.1rem;
    }
  }


  .text{
    &--little{
      color: rgba(19, 37, 59, 1);
      font-family: $raleway;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 50px;

      &--professional{
        margin-bottom: 61px;
      }
    }
  }

.items{

  &--basic{
    padding-bottom: 20px;
  }

  &--premium{
    padding-bottom: 20px;
  }

  &--professional{
    padding-bottom: 26px;
  }
}

  &__text{
    font-family: $open-sans;
    font-size: 1.4rem;
    color: $black;
    align-items: center;
    padding-bottom: 25px;
  }

  &--checked{

    &::before{
      content: url("../assets/checkmark-1.svg");
      margin-right: 10px;
      display: inline-block;
    }
  }

  &__close{

    &::before{
      content: url("../assets/close.svg");
      margin-right: 10px;
      display: inline-block;
    }
  }
}




