$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(165, 165, 165, 1);
$color-blue: rgba(8, 166, 228, 1);
$blue-shadow: rgba(7, 172, 230, 0.16);
$gray-light: rgba(165, 165, 165, 1);
$color-black: rgba(0, 0, 0, 1);
$green-btn: rgba(85, 223, 180, 1);
$red-btn: rgba(235, 71, 110, 1);
$blue-btn: rgba(7, 172, 230, 1);
$gray-background: rgba(247, 247, 247, 1);
$gray-shadow: rgba(0, 0, 0, 0.16);
$red-circle: rgba(251, 59, 100, 1);