.btn {
  text-decoration: none;
  color: $color-white;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 23px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;

  &--open{
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: $color-blue;
    border-radius: 40px;
    box-shadow: 5px 10px 14px $blue-shadow;
    padding: 22px 157px;

    @include mobile {
      padding: 22px 92px;
    }
  }

  &--basic {
    background-color: $red-btn;
    position: relative;
    padding: 16px 57px;
    bottom: -25px;
    left: 2px;

    @include notebook {
      bottom: -104px;
      left: -316px;
    }

    @include tablet {
      bottom: -104px;
      left: -260px;
    }

    @include mobile {
      bottom: -123px;
      left: -144px;
    }
  }

  &--professional {
    background-color: $blue-btn;
    position: relative;
    padding: 16px 64px;
    bottom: -25px;
    left: 2px;

    @include notebook {
      bottom: -104px;
      left: -316px;
    }

    @include tablet {
      bottom: -104px;
      left: -260px;
    }

    @include mobile {
      bottom: -123px;
      left: -156px;
    }
  }

  &--premium {
    background-color: $green-btn;
    position: relative;
    padding: 16px 57px;
    bottom: -25px;
    left: 2px;

    @include notebook {
      bottom: -104px;
      left: -316px;
    }

    @include tablet {
      bottom: -104px;
      left: -260px;
    }

    @include mobile {
      bottom: -123px;
      left: -144px;
    }
  }

  &--form {
    border: none;
    display: inline-block;
    background-color: $color-blue;
    box-shadow: 5px 10px 14px $blue-shadow;
    border-radius: 35px;
    line-height: 1.8rem;
    padding: 20px 97px;
    align-self: flex-end;
  }
}